:root {
  --body-principal: #FFFFFF;
  --principal: #34B0BE;
  --segundo: #FF4F6F;
  --tercero: #061F1C;
  --cuarto: #ADADAD;
  --quinto: #E5E5E5;
}

html { box-sizing: border-box; }

*,
*:after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 0 8px;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--body-principal);
}

@media (max-width: 550px) {
  body {
    font-size: 16px;
    font-weight: 400;
  }
}


h1 {
  margin: 15px 0;
  font-size: 80px;
  font-weight: 600;
  color: var(--tercero);
}

@media (max-width: 1000px) {
  h1 {
    font-size: 65px;
    font-weight: 600;
  }
} 

@media (max-width: 650px) {
  h1 {
    font-size: 50px;
    font-weight: 600;
  }
}

h2 {
margin: 15px 0;
color: var(--segundo);
font-size: 50px;
font-weight: 600;
}

@media (max-width: 650px) {
  h2 {
    font-size: 32px;
    font-weight: 600;
  }
}

/**
* SECCIÓN NAV
*/

.logo img {
  position: absolute;
  left: 65px;
  margin-top: 40px;
}

nav {
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  nav {
    height: 140px;
    padding-bottom: 1px;
  
  }
} 
@media (max-width: 600px) {
  nav {
    height: 120px;
  }
} 

@media (max-width: 440px) {
  nav {
    height: 90px;
    margin-bottom: 5px;
  }
} 

.icon-nav-mobile {
  display: none;
}

.image-mobile {
  display: none;
}

@media (max-width: 650px) {
  nav {
    justify-content: flex-end;
  }

  .image-mobile {
    display: flex;
  }

  .image-web {
    display: none;
  }

  .icon-nav-mobile {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
    margin-right: 30px;
  }

} 
@media (max-width: 650px) {
  .icon-nav-mobile img{
    width: 24px;
  }
} 

.nav-menu {
  margin-left: 60px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between; 
  width: 60%;
  height: 80px;
}

nav a {
  color: var(--tercero);
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}

nav a:hover {
  color: var(--principal);
}

nav .active {
  color: var(--principal);
}
/* MEDIAS QUERY NAV */

@media (max-width: 1000px) {
  .nav-menu {
    margin-left: 70px;
    flex-wrap: wrap;
    gap: 50px;
  }
} 

@media (max-width: 850px) {
  .nav-menu {
    margin-left: 80px;
    justify-content: flex-start;
    gap: 20px; 
    width: 55%;
  }
  
  .logo img {
    width: 150px;
    left: 35px;
  }
} 

@media (max-width: 650px) {

  .nav-menu {
    display: none;
  }
  .logo img {
    top: -15px;
    width: 120px;
    left: 15px;
  }
} 

@media (max-width: 450px) {
  .nav-menu {
    height: 60px;
  }
  .logo img {
    top: -20px;
    width: 75px;
  }
} 

/**
* SECCIÓN HEADER
*/

.header-contenedor {
  margin-top: 80px;
  width: 95vw;
  /* height: 715px; */
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

@media (max-width: 890px) {
  .header-contenedor {
    margin-top: 20px;
   flex-wrap: wrap;
   justify-content: center;
  } 
}

.header-background {
  width: 700px;
  height: 680px;
  border-radius: 0px 200px 0px 0;
  background-image: url(../Vectores/Vector.svg);
  background-size: cover;
  background-position: right center;
}

@media (max-width: 480px) {
  
  .header-contenedor {
    overflow: hidden;
  }

  .header-background {
    position: relative;
   /* width: 95vw; */
   left: 25px;
   height: 55vh;
   border-radius: 0;
  } 
}


.header-image {
  text-align: right;
  height: 100%;
  width: 100%;
  position: relative;
}

.header-image img {
  position: absolute;
  bottom: 0px;
  right: 40px;
  min-width: 300px;
  height: 115%;
}

@media (max-width: 830px) {

  .header-image img{
    width: 70%;
    height: 100%;
  }
}

.header-description {
  position: relative;
  bottom: 75px;
  /* left: 25px; */
  width: 48vw;
  min-width: 300px;
}

@media (max-width: 890px) {
  .header-description {
   position: static;
  } 
}

.header-description p {
  color: var(--segundo);
  margin: 5px 0;
  font-size: 45px;
  font-weight: 600;
}

.container-iconos {
  margin-top: 48px;
  display: flex;
  gap: 40px;
}

.header-icono {
  border-radius: 50%;
  border: solid 2px var(--principal);
 padding: 17px 15px 15px 18px;
 width: 80px;
 height: 80px;
}

.header-icono img {
  width: 40px;
}

.button-contactame {
  margin-top: 86px;
  background-color: #FF4F6F;
  width: 400px;
  height: 107px;
  border-radius: 0 50px 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}

@media (max-width: 1150px) {
  .button-contactame {
    width: 100%;
  }
} 

@media (max-width: 650px) {
  .button-contactame {
    width: 350px;
    height: 60px;
    }
    .header-icono {
    font-size: 24px;
     padding: 8px 45px 45px 8px;
     width: 40px;
     height: 40px;
    }

  }

.button-contactame  p {
  margin-top: 37px;
  font-size: 30px;
  color: var(--body-principal);
 } 

 @media (max-width: 650px) {
  .button-contactame p {
    height: 60px;
    margin-top: 12px;
    }
  }

 .contactame-icono {
  width: 40px;
 }

.description-mobile {
  display: none;
}

@media (max-width: 600px) {
  .description-mobile {
    /* display: contents; NO COMPATIBLE CON FIREFOX */
    display: flex;
    justify-content: center;
    text-align: center;
  } 

  .description-web {
    display: none;
  }
}

/**
* SECCIÓN HABILIDADES
*/

.frontendskills {
  position: relative;
  /* border: solid 2px red; Pruebas */
  margin: 80px auto -5px;
  width: 80%;
}

.container-skill {
  margin-top: 80px;
  height: 280px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.skill {
  width: 225px;
  height: 220px;
}

.underline {
  width: 60%;
  height: 7px;
  background-color: var(--principal);
  margin: 0 auto;
}

.average {
  color: var(--principal);
  font-size: 50px;
  font-weight: 600;
}

.skill-description {
  padding-top: 50px;
  color: var(--tercero);
  font-size: 24px;
  font-weight: 600;
}

/*Pruebas*/
@media (max-width: 850px) {
  .container-skill { 
    /* background-color: #ff4f6f96; */
    overflow: scroll;
    width: 100%;
    gap: 30px;
   } 
  .skill-description {
    font-size: 18px;
    font-weight: 600;
  }
  /*Pruebas*/
  .average {
    font-size: 32px;
    font-weight: 600;
  }
}

.arrow-icon { display: none; }

@media (max-width: 650px) {
  .arrow-icon{
    position: absolute;
    display: block;
    background-color: var(--segundo); 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    right: -15px;
    bottom: 160px;
  }

  .arrow-icon img {
    margin: 14px 0px 0px 14px;
    width: 30px;
  }
} 

/** 
* SECCIÓN ACERCA DE MÍ 
*/
.about-me{ position: relative; }

@media (max-width: 650px){
  .about-me{ overflow: hidden; } 
}


.about-icon {
  position: absolute;
  top: -2px;
  right: 0px;
}

.about-icon object { width: 385px; }

.container-about-me {
  margin: 40px auto;
  width: 80%;
}

.container-about-me p {
  color: var(--cuarto);
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
}

.container-card {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 85px;
}

.card-card{
  width: 208px;
  height: 208px;
}

.card img{ width: 100%; }

.card h3 {
  margin: 30px 0 10px 0;
  font-size: 30px;
  font-weight: 400;
  color: var(--cuarto);
}

.card p {
  font-size: 18px;
  font-size: 400;
}

/** 
* SECCIÓN SERVICIOS
*/

.services{
  margin: 40px auto;
  width: 80%;
 } 

.container-services-card {
  margin: 76px auto 0 auto;
  width: 96%;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  text-align: center;
}

.services-card {
  width: 225px;
}

.services-card img {
  width: 100px;
  height: 100px;
}

.services-card h3 {
  padding-top: 66px;
  font-size: 30px;
  font-weight: 600;
  color: var(--tercero);
}

.services-card p {
  color: var(--cuarto);
}


/**
* MEDIAS QUERY SERVICIOS
*/

@media (max-width: 850px) {
  .container-services-card { flex-wrap: wrap; }
} 

@media (max-width: 650px) {
  .container-services-card { justify-content: center; }
} 


/**
* SECCIÓN PORTAFOLIO
*/

.porfolio {
  margin: 40px auto;
  width: 80%;
}

@media (max-width: 650px){
  .porfolio{ overflow: scroll; } 
}

.container-img {
  display: flex;
  justify-content: space-between;
}

.slider {
  width: 253px;
  height: 250px;
  border-radius: 0px 0px 4PX 4PX;
  -webkit-box-shadow: 0px 0px 7px 6px rgba(229,229,229,0.78);
  -moz-box-shadow: 0px 0px 7px 6px rgba(229,229,229,0.78);
  box-shadow: 0px 0px 7px 6px rgba(229,229,229,0.78);
}

.slider img {
  border-radius: 4px 4px 0 0;
  width: 253px;
  height: 183px;
}

.slider p {
 
  font-weight: 600;
  color: var(--tercero);
  margin-top: 7px;
  padding-left: 10px;
}

/**
* FLECHA
*/

.arrow-icon-porfolio {
  position: relative;
  display: none;
}

@media (max-width: 650px) {
  .arrow-icon-porfolio{
    display: block;
    
  }
  .arrow-icon-porfolio img {
    position: absolute;
    right: 30px;
    top: -200px;
    
    border-radius: 50%;
    width: 50px;
    background-color: var(--segundo);
  }
} 

/**
* SECCIÓN CONTACTO
*/

.contacto {
  width: 80%;
  height: 400px;
  margin: 85px auto 70px;
}

.container-svg {
  margin: 60px auto;
  width: 45%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.container-icons object {
  width: 100px;
}

.description {
  font-weight: 600;
  color: var(--tercero);
  margin-top: 7px;
}

.description-email { color: var(--cuarto); }

footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  height: 120px;
}

footer p { color: var(--principal); }